<div class="col-md-12">
  <div class="group">
    <% if @recipe.editable_by?(current_user) %>
      <%= link_to("Edit", edit_recipe_path(@recipe), class: "btn btn-primary pull-right") %>
    <% end %>
  </div>
  <h1><%= @recipe.title %></h1>
  <h3><%= @recipe.content %></h3>
  <hr>

  <h3>Ingredients</h3>
  <% @recipe.ingredients.each do |i| %>
    <h5><%= i.name %> : <%= i.amount %></h5>
  <% end %>

  <h3>Steps</h3>
  <% @recipe.steps.each do |s| %>
    <h5><%= s.step_order %>. <%= s.content %></h5>
  <% end %>

  <hr>
  <h2>Comments:</h2>
  <% @comments.each do |comment|%>
    <h4><%= comment.name %> written:</h4><h4><%= comment.content %></h4>
    <% if @recipe.editable_by?(current_user) %>
      <%= link_to("Delete comment", recipe_comment_path(@recipe, comment),
                  method: :delete, class: "btn btn-danger")%>
      <% end %>
    <% end %>
  <%= render "comments/comment" %>
</div>
